input[type='file'].form-control {
    height: auto;
}
p.errors {
    color: crimson;
}
table.sudoku td {
    border: 1px solid rgba(16, 114, 208, 0.97);
}
table.sudoku tr:nth-child(3n) td {
    border-bottom: 3px solid rgba(16, 114, 208, 0.97);
}
table.sudoku tr:nth-child(1) td {
    border-top: 3px solid rgba(16, 114, 208, 0.97);
}
table.sudoku tr td:nth-child(1) {
    border-left: 3px solid rgba(16, 114, 208, 0.97);
}
table.sudoku tr td:nth-child(3n) {
    border-right: 3px solid rgba(16, 114, 208, 0.97);
}
